<%# <form accept-charset="UTF-8" action="/users " method="post"> %>
    <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>
    <%# <label for='user_name'></label> <br> <br> %>
    <%# <input id='user_name' name='user[username]' type='text'><br> %>

    <%# <label for='user_email'>Email</label> <br>  %>
    <%# <input id='user_email' name='user[email]' type='email'> <br> %>

    <%# <label for='user_password'>Password</label> <br> %>
    <%# <input id='user_password' name='user[email]' type='password'> <br> %>

    <%# <input value='submit' type='submit'> %> 
<%# </form>  %>

<%= form_with model: @user do |f|%>
    <%= f.label :username%> <br>
    <%= f.text_field :username, placeholder: "Username"%> <br>

    <%= f.label :email%> <br>
    <%= f.email_field :email, placeholder: "example@example.com"%> <br>

    <%= f.label :password%> <br>
    <%= f.password_field :password, placeholder: "password"%> <br>

    <%= f.submit "Submit"%> <br>
<%end%>